html {
  background-color: var(--color-bg);
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  @include style-body;
  color: var(--color-text);
  margin: 0;
}

h1,
h2,
h3,
h4 {
  color: var(--color-text-bright);
  margin-bottom: 1em;
  margin-top: 2em;
}

h1 {
  @include style-h2;
  @media (min-width: $md) {
    @include style-h1;
  }
}

h2 {
  @include style-h3;
  @media (min-width: $md) {
    @include style-h2;
  }
}

h3 {
  @include style-body-large;
  @media (min-width: $md) {
    @include style-h3;
  }
}

a {
  color: var(--color-text-bright);
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.1em;
  transition: color 100ms;
}

a:focus,
a:hover {
  color: var(--color-accent);
}

figcaption a {
  color: inherit;
}

kbd,
samp,
code {
  font-family: $font-mono;
  font-size: 0.9em; // Slightly reduce font size for optical balancing
  letter-spacing: normal;
}

code {
  color: var(--color-accent);
}

small {
  letter-spacing: normal;
}

img,
svg,
video {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

iframe {
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
}

figure {
  margin: 2em 0;
}

figcaption {
  @include style-small;
  color: var(--color-text-dim);
  margin-top: 0.5rem;
  max-width: 30em;
}

hr {
  border: 0;
  border-top: $border-width solid var(--color-text-dim);
  height: 0;
  margin-bottom: 3em;
  margin-top: 3em;
  padding: 0;
}

p {
  margin-bottom: 1em;
  margin-top: 1em;
}

pre {
  margin: 2em 0;
  overflow-x: auto;
}

blockquote {
  border-left: $border-width solid;
  margin: 1em 0;
  padding-left: 1em;
}

ol,
ul {
  margin-bottom: 1em;
  margin-top: 0;
  padding-left: 1.25em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
