.logo-row {
  @include container;
}

.logo-row > .logo {
  display: block;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 10rem;
  @media (min-width: $md) {
    margin-bottom: 4rem;
    margin-top: 4rem;
    width: 12rem;
  }
}

.logo-row > .logo #cloud {
  fill: var(--color-accent);
}

.logo-row > .logo #text {
  fill: var(--color-text-bright);
}
