.btn {
  --color-bg: rgba(255, 255, 255, 0.1);
  @include style-body;
  background-color: var(--color-bg);
  border-radius: 0.5rem;
  color: var(--color-text-bright);
  display: inline-block;
  padding: 0.375em 0.75em 0.4375em;
  text-decoration: none;
  transition: background-color 100ms;
  @media (min-width: $md) {
    @include style-body-large;
  }
}

.btn:not(.btn--small)::after {
  content: "\00a0\2192"; // nbsp + right arrow
}

.btn:focus,
.btn:hover {
  --color-bg: rgba(255, 255, 255, 0.05);
  color: var(--color-text-bright);
}

.btn:active {
  color: var(--color-text-dim);
}

.btn--small {
  @include style-small;
  border-radius: 0.25rem;
  padding: 0.25em 0.5em;
}
