.activity {
  background-color: var(--color-bg);
  color: var(--color-text);
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}

.activity--hidden {
  display: none;
}

.activity__inner {
  @include container;
}

.activity__label {
  color: var(--color-accent);
  margin-bottom: 1rem;
  margin-top: 0;
  @media (min-width: $md) {
    margin-bottom: 1.5rem;
  }
}

.activity__list {
  @include style-h3;
  line-height: $line-height-1;
  list-style: none;
  padding-left: 0;
  @media (min-width: $md) {
    @include style-h2;
  }
}

.activity__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  @media (min-width: $sm) {
    align-items: center;
    flex-direction: row;
    margin-bottom: 0.75rem;
  }
}

.activity__item:last-child {
  margin-bottom: 0;
}

.activity__cta {
  color: var(--color-text-bright);
  text-decoration: none;
  @media (min-width: $md) {
    @include style-body-large;
  }
}

.activity__cta:focus,
.activity__cta:hover {
  color: currentColor;
}

.activity__cta::after {
  content: "\00a0\2192"; // nbsp + right arrow
}

.repo__link {
  text-decoration: none;
}

.repo__path {
  color: var(--color-text-dim);
  display: flex;
  flex-wrap: wrap;
  margin-right: 1rem;
}

.repo__author::after {
  content: "/";
  margin-left: 0.375rem;
  margin-right: 0.375rem;
}

.repo__meta {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
}

.repo__version {
  @include style-small;
  background-color: var(--color-accent);
  color: var(--color-bg);
  margin: 0.375rem 0.5rem 0 0;
  padding: 0.125em 0.5em;
}

.repo__time {
  @include style-small;
  color: var(--color-text);
  margin: 0.375rem 0 0;
}
