.statement {
  @include container;
}

.statement__text {
  @include style-h2;
  color: var(--color-text-bright);
  margin: 3rem auto;
  max-width: $page-title-width;
  text-align: center;
  @media (min-width: $md) {
    @include style-h1;
    margin: 5rem auto;
  }
}
