$page-body-width: 37.5rem;

.content {
  @include container;
  margin-bottom: 4rem;
}

.page__cover {
  margin: 0;
  text-align: right;
}

.page__cover-image {
  height: 30vh;
  object-fit: cover;
  width: 100%;
  @media (min-width: $md) {
    height: 50vh;
    max-height: 37.5rem;
    min-height: 20rem;
  }
}

.page__cover-caption {
  margin-left: auto;
}

.page__header {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.page__title {
  @include style-h2;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 50rem;
  text-align: center;
  @media (min-width: $md) {
    @include style-h1;
  }
}

.page__body {
  text-align: center;
  @media (min-width: $md) {
    @include style-body-large;
  }

  > *:not(img):not(hr):not(figure):not(video):not(h1):not(h2):not(iframe) {
    margin-left: auto;
    margin-right: auto;
    max-width: $page-body-width;
    text-align: left;
  }
  h1,
  h2 {
    margin-left: auto;
    margin-right: auto;
    max-width: $page-body-width;
  }
  > img {
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }
  figcaption {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
