.link-block-row {
  @include container;
  display: grid;
  grid-gap: $column-gap;
  margin-bottom: 2.5rem;
  @media (min-width: $md) {
    grid-template-columns: $column-template;
  }
}

.link-block-row > * {
  grid-column: 1 / -1;
  @media (min-width: $md) {
    grid-column: span 4;
  }
}

.link-block-row > *:nth-last-child(2):nth-child(1),
.link-block-row > *:nth-last-child(1):nth-child(2) {
  @media (min-width: $md) {
    grid-column: span 6;
  }
}

.link-block-row > *:nth-last-child(1):nth-child(1) {
  @media (min-width: $md) {
    grid-column: 1 / -1;
  }
}

.link-block {
  align-items: center;
  background-color: var(--color-bg);
  color: var(--color-text-bright);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: transform 300ms;
  @media (min-width: $md) {
    min-height: 12rem;
  }
}

.link-block:focus,
.link-block:hover {
  @media (min-width: $md) {
    transform: translateY(-0.25rem);
    transition-duration: 100ms;
  }
}

.link-block > * {
  max-width: 25rem;
}

.link-block__image {
  margin-bottom: 0.75rem;
  mix-blend-mode: multiply;
  width: 5rem;
}

.theme-dark-green .link-block__image,
.theme-blue .link-block__image {
  filter: invert(1);
  mix-blend-mode: screen;
}

.link-block__title {
  @include style-h3;
  color: var(--color-text-bright);
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.link-block__text {
  color: var(--color-text);
  margin-bottom: 0.5rem;
  margin-top: 0;
  @media (min-width: $md) {
    @include style-body-large;
  }
}
