.announcement {
  background-color: var(--color-bg);
  color: var(--color-text);
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  text-align: center;
}

.announcement__text {
  @include container;
  @include style-small;
  margin-bottom: 0;
  margin-top: 0;
}
