.site-footer {
  background-color: var(--color-bg);
  color: var(--color-text-bright);
  margin-top: 3rem;
  padding-bottom: 2.5rem;
  padding-top: 1rem;
}

.site-footer__inner {
  @include container;
  @include style-small;
}

.site-footer__inner > *:first-child {
  margin-top: 0;
}

.site-footer__inner > *:last-child {
  margin-bottom: 0;
}

.site-footer__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  float: right;
}

.site-footer__item {
  display: block;
  padding: 0.25rem 0.5rem;
}
