.profiles {
  @include container;
  display: grid;
  grid-gap: $column-gap;
  @media (min-width: $sm) {
    grid-template-columns: $column-template;
  }
}

.profile {
  grid-column: 1 / -1;
  @media (min-width: $sm) {
    grid-column: span 6;
  }
  @media (min-width: $md) {
    grid-column: span 4;
  }
  @media (min-width: $lg) {
    grid-column: span 3;
  }
}

.profile__image {
  filter: grayscale(1) contrast(1.2);
  margin-bottom: 0.5rem;
  mix-blend-mode: screen;
  width: 100%;
  @media (min-width: $sm) {
    padding-right: 1rem;
  }
}

.profile__name {
  @include style-body-large;
  color: var(--color-text-bright);
  margin-bottom: 0.5rem;
  margin-top: 0;
  @media (min-width: $md) {
    @include style-h3;
  }
}

.profile__role {
  @include style-body;
  color: var(--color-text-dim);
  margin-bottom: 0.5rem;
  margin-top: 0;
  @media (min-width: $md) {
    @include style-body-large;
  }
}

.profile__linklist {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
}

.profile__linklist-item:not(:last-child) {
  margin-right: 0.5rem;
}
