.feature {
  --color-bg: transparent;
  background-color: var(--color-bg);
  color: var(--color-text);
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}

.feature__inner {
  @include container;
  display: grid;
  grid-column-gap: $column-gap;
  grid-row-gap: 1rem;
  @media (min-width: $lg) {
    grid-template-columns: $column-template;
  }
}

.feature__content {
  order: 2;
  @media (min-width: $lg) {
    grid-column: 1 / 6;
    padding-right: 1rem;
  }
}

.feature--reverse .feature__content {
  @media (min-width: $lg) {
    grid-column: -6 / -1;
    padding-right: 0;
  }
}

.feature__image {
  order: 1;
  @media (min-width: $lg) {
    grid-column: 6 / -1;
    order: 2;
  }
}

.feature--reverse .feature__image {
  @media (min-width: $lg) {
    grid-column: 1 / -6;
    grid-row-start: 1;
    order: 1;
  }
}

.feature--blend .feature__image {
  filter: grayscale(1) contrast(1.2);
}

.feature--blend.theme-yellow,
.feature--blend.theme-purple,
.feature--blend.theme-red,
.feature--blend.theme-cobox-green,
.feature--blend.theme-white {
  .feature__image {
    mix-blend-mode: multiply;
  }
}

.feature--blend,
.feature--blend.theme-dark-green,
.feature--blend.theme-blue {
  .feature__image {
    mix-blend-mode: screen;
  }
}

.feature__image figure {
  margin: 0;
}

.feature__image img {
  width: 100%;
}

.feature__image figcaption {
  color: var(--color-text-dim);
  margin-left: auto;
  text-align: right;
  @media not all and (min-width: $sm) {
    // NOTE sets the text to be really small for small screens
    font-size: $font-size-tiny;
    margin-top: 0.25em;
  }
}

.feature--reverse figcaption {
  @media (min-width: $lg) {
    margin-left: 0;
    text-align: left;
  }
}

.feature__title {
  @include style-h2;
  color: var(--color-text-bright);
  margin-bottom: 1rem;
  margin-top: 0;
  @media (min-width: $md) {
    @include style-h1;
    margin-bottom: 1.5rem;
  }
}

.feature__label {
  color: var(--color-accent);
  margin-bottom: 1rem;
  margin-top: 0;
  @media (min-width: $md) {
    margin-bottom: 1.5rem;
  }
}

.feature__text > * {
  @include style-body-large;
  margin-top: 0;
  @media (min-width: $md) {
    @include style-h3;
    margin-bottom: 1.5rem;
  }
}

.feature__cta {
  color: var(--color-text-bright);
  text-decoration: none;
  @media (min-width: $md) {
    @include style-body-large;
  }
}

.feature__cta:focus,
.feature__cta:hover {
  color: currentColor;
}

.feature__cta::after {
  content: "\00a0\2192"; // nbsp + right arrow
}
