.site-header {
  @include container;
  align-items: flex-start;
  display: flex;
  padding-bottom: 1rem;
  padding-top: 0.75rem;
}

.site-header a {
  text-decoration: none;
}

.site-header__logo {
  flex-shrink: 0;
  margin-right: 0.75rem;
  width: 2.5rem;
}

.site-header__logo svg {
  fill: currentColor;
}

.site-header__logo a {
  color: var(--color-text-bright);
}

.site-header__logo a:focus,
.site-header__logo a:hover {
  color: var(--color-accent);
}

.site-header__nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0.25rem;
  padding-left: 0;
}

.site-header__nav-item a {
  color: var(--color-text-dim);
  display: block;
  padding: 0.25rem 0.5rem;
}

.site-header__nav-item.active a {
  color: var(--color-text-bright);
}

.site-header__nav-item a:focus,
.site-header__nav-item a:hover {
  color: var(--color-accent);
}
