@font-face {
  font-display: swap;
  font-family: "Alte Haas Grotesk Web";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/altehaasgroteskregular-webfont.woff2") format("woff2"),
    url("/assets/fonts/altehaasgroteskregular-webfont.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Alte Haas Grotesk Web";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/altehaasgroteskbold-webfont.woff2") format("woff2"),
    url("/assets/fonts/altehaasgroteskbold-webfont.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Inter Web";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/Inter-Medium.woff2?v=3.12") format("woff2"),
    url("/assets/fonts/Inter-Medium.woff?v=3.12") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Inter Web";
  font-style: italic;
  font-weight: 500;
  src: url("/assets/fonts/Inter-MediumItalic.woff2?v=3.12") format("woff2"),
    url("/assets/fonts/Inter-MediumItalic.woff?v=3.12") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Inter Web";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/Inter-Bold.woff2?v=3.12") format("woff2"),
    url("/assets/fonts/Inter-Bold.woff?v=3.12") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Inter Web";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/fonts/Inter-BoldItalic.woff2?v=3.12") format("woff2"),
    url("/assets/fonts/Inter-BoldItalic.woff?v=3.12") format("woff");
}
