.theme-blue,
.theme-cobox-green,
.theme-dark-green,
.theme-purple,
.theme-red,
.theme-white,
.theme-yellow {
  --color-accent: var(--color-text-bright);
}

.theme-cobox-green,
.theme-purple,
.theme-red,
.theme-white,
.theme-yellow {
  --color-text-bright: #000;
}

.theme-blue,
.theme-dark-green {
  --color-text-bright: #fff;
}

.theme-purple {
  --color-bg: #{$purple};
  --color-text: rgba(0, 0, 0, 0.8);
  --color-text-dim: var(--color-text);
}

.theme-yellow {
  --color-bg: #{$yellow};
  --color-text: rgba(0, 0, 0, 0.65);
  --color-text-dim: rgba(0, 0, 0, 0.6);
}

.theme-red {
  --color-bg: #{$red};
  --color-text: rgba(0, 0, 0, 0.7);
  --color-text-dim: var(--color-text);
}

.theme-dark-green {
  --color-bg: #{$dark-green};
  --color-text: rgba(255, 255, 255, 0.5);
  --color-text-dim: var(--color-text);
}

.theme-white {
  --color-bg: white;
  --color-text: rgba(0, 0, 0, 0.65);
  --color-text-dim: rgba(0, 0, 0, 0.6);
}

.theme-blue {
  --color-bg: #{$blue};
  --color-text: rgba(255, 255, 255, 0.7);
  --color-text-dim: var(--color-text);
}

.theme-cobox-green {
  --color-bg: #{$cobox-green};
  --color-text: rgba(0, 0, 0, 0.65);
  --color-text-dim: rgba(0, 0, 0, 0.6);
}
