$purple: #cc33ff;
$red: #ff6060;
$yellow: #ffc700;
$blue: #3900e6;
$cobox-green: #acffac;
$dark-green: #273327;

:root {
  --color-bg: #1f1f1f;
  --color-text: #ccc; // Passes AAA (tested on background #1f1f1f)
  --color-text-bright: #fff;
  --color-text-dim: #868686; // Passes AA (tested on background #1f1f1f)
  --color-accent: #{$cobox-green};
}

$font-body: "Inter Web", sans-serif;
$font-heading: "Alte Haas Grotesk Web", sans-serif;
$font-mono: Consolas, Liberation Mono, Menlo, monospace;

$sm: 37.5em;
$md: 48em;
$lg: 60em;

$font-size-h1: 3.25rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;
$font-size-body-large: 1.125rem;
$font-size-body: 1rem;
$font-size-small: 0.75rem;
$font-size-tiny: 0.625rem;

$line-height-1: 1;
$line-height-2: 1.2;
$line-height-3: 1.4;

$border-width: 0.125rem;

$column-gap: 1.5rem;
$column-template: repeat(12, 1fr);

$page-body-width: 37.5rem;
$page-title-width: 50rem;

@mixin container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
  @media (min-width: $lg) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@mixin style-h1 {
  font-family: $font-heading;
  font-size: $font-size-h1;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: $line-height-1;
}

@mixin style-h2 {
  font-family: $font-heading;
  font-size: $font-size-h2;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: $line-height-2;
}

@mixin style-h3 {
  font-family: $font-heading;
  font-size: $font-size-h3;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: $line-height-2;
}

@mixin style-body-large {
  font-family: $font-body;
  font-size: $font-size-body-large;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: $line-height-3;
}

@mixin style-body {
  font-family: $font-body;
  font-size: $font-size-body;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: $line-height-3;
}

@mixin style-small {
  font-family: $font-body;
  font-size: $font-size-small;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: $line-height-3;
}
